<%- include("templates/header") %> 
<div class="alert alert-info" role="alert">
	Succesfully Created User!
  </div>
  <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Home</button>
<%- include("templates/footer") %> 